project:
  type: website

website:
  open-graph: true
  title: "Responsible modelling"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: register.qmd
        text: Register
      - href: 2026-03-24.qmd
        text: Schedule
      - href: about.qmd
        text: About

format:
  html:
    theme:
      light: flatly
      dark: darkly
    css: styles.css
    toc: true

